@{
    ViewData["Title"] = "Update advertisement";
}
@model DTO.AdDto

<div asp-validation-summary="ModelOnly"></div>

<div class="mainContainer">

    <div class="updateAdvertisementContainer">

        <div>

            <form method="post" action="~/Ads/UpdateAdvertisement" enctype="multipart/form-data">

                <label class="title">Title <span class="validationLabel" asp-validation-for="Title"></span></label>

                <input type="text" class="enterData enterTitle" name="Title" value="@Model.Title" />

                <label class="title">Text <span class="validationLabel" asp-validation-for="Text"></span></label>

                <textarea class="enterData enterText" name="Text">@Model.Text</textarea>

                <div class="imagesContainer" id="imagesContainer">
                    @if (Model.ImagePath != null)
                    {
                        <img src="@Url.Content("~/" + Model.ImagePath + "?width=180&height=120")" />
                        <div class="removeImage">
                            <button type="button" id="buttonToRemoveImage"><img src="@Url.Content("~/icons/close.png")" width="25" /></button>
                        </div>
                    }
                    else
                    {
                        <input type="file" class="enterData" name="Image" />
                    }
                </div>

                <input type="hidden" name="Id" value="@Model.Id" />

                <div class="buttonsContainer">
                    <input type="submit" class="buttonToEnter" value="Enter" />
                    <a href="~/Ads/Index" class="buttonToCancel">Cancel</a>
                </div>

            </form>

        </div>

    </div>

</div>

<script>

    var imagesContainer = document.getElementById("imagesContainer");
    var buttonToRemoveImage = document.getElementById("buttonToRemoveImage");

    buttonToRemoveImage.onclick = function () {
        imagesContainer.innerHTML = '<input type="file" class="enterData" name="Image" />';
    };

</script>